<!-- _layouts/post.html -->
---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.categories -%}
        <span class="post-categories">
          in 
          {% for category in page.categories %}
          <a href="{{ '/category/' | append: category | relative_url }}">{{ category }}</a>
          {% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>